<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>


    
   
    <form action="/regist/upload2" method="POST" enctype="multipart/form-data">
        <input type="file" id="file3" name="file3" />
        <button id="btn3">submit</button>
    </form>

    <img src="./images/a4a10d05a8f271c5520083e58fbdca4b">
    
</body>
</html>